 @page
@using BusinessObjects;
@using BusinessObjects.Entities;
@model ClinicPresentationLayer.Pages.Staffs.MainModel
@{
}
<body class="auth">
    <div id="main-wrapper" class="show">
        <div class="login-tabib">
            <div>
                <div class="text-center">
                    <a class="logo" href="index.html">
                        <img class="img-fluid" src="~/images/logo.png" alt="login page">
                    </a>
                </div>
                <h4>Search for a patient</h4>
                <form method="get">
                    <div class="form-group">
                        <label for="SearchTerm">Search Term</label>
                        <input id="SearchTerm" name="SearchTerm" class="form-control" value="@Model.SearchTerm" />
                        <span asp-validation-for="SearchTerm" class="text-danger"></span>
                    </div>
                    <button type="submit" class="btn btn-primary">Search</button>
                </form>
                @if (Model.ErrorMessage != null)
                {
                    <div class="alert alert-danger">
                        @Model.ErrorMessage
                    </div>
                }
                @if (Model.CheckMessage != null)
                {
                    <div class="alert alert-success">
                        @Model.CheckMessage
                    </div>
                }
                @if(Model.FoundPatient != null)
                {
                    <div>
                        <h4>Patient Details</h4>
                        <p>Name: @Model.FoundPatient.Name</p>
                        <p>Email: @Model.FoundPatient.Email</p>
                        <p>Date of Birth: @Model.FoundPatient.DateOfBirth</p>
                        <p>Gender: @Model.FoundPatient.Gender</p>
                        <p>Phone: @Model.FoundPatient.Phone</p>
                        <p>Address: @Model.FoundPatient.Address</p>
                    </div>
                    <div>
                        <h4>Appointments</h4>
                        <table class="table table-bordered">
                            <thead>
                                <tr>
                                    <th>Date</th>
                                    <th>Service</th>
                                    <th>Dentist</th>
                                    <th>Status</th>
                                    <th>Actions </th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var appointment in Model.PatientAppointments)
                                {
                                    <tr>
                                        <td>@appointment.AppointDate</td>
                                        <td>@appointment.Service.Name</td>
                                        <td>@appointment.Dentist.Name</td>
                                        <td>@Enum.GetName(typeof(AppointmentStatus), appointment.Status)</td>
                                        <td>
                                            <form method="post" asp-page-handler="CheckRefund">
                                                <input type="hidden" name="SearchTerm" value="@Model.SearchTerm" />
                                                <input type="hidden" name="appointmentId" value="@appointment.Id" />
                                                <button type="submit" class="btn btn-secondary">Check Refund</button>
                                            </form>
                                            <form method="post" asp-page-handler="Refund">
                                                <input type="hidden" name="SearchTerm" value="@Model.SearchTerm" />
                                                <input type="hidden" name="appointmentId" value="@appointment.Id" />
                                                <button type="submit" class="btn btn-danger">Refund</button>
                                            </form>
                                            @if (appointment.Status == (int)AppointmentStatus.Waiting)
                                            {
                                                <form method="post" asp-page-handler="CheckIn">
                                                    <input type="hidden" name="SearchTerm" value="@Model.SearchTerm" />
                                                    <input type="hidden" name="appointmentId" value="@appointment.Id" />
                                                    <button type="submit" class="btn btn-success">Check-in</button>
                                                </form>
                                            }
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                    <button id="showCreateAppointmentForm" class="btn btn-primary">Create Appointment</button>
                    <div id="createAppointmentForm" style="display:none;">
                    <div class="row">
                        <form id="combinedForm" method="post" asp-page-handler="Submit">
                            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                            <div class="form-group">
                                <select class="form-control" asp-for="Appointment.ServiceId">
                                    @foreach (var service in Model.Services)
                                    {
                                        <option value="@service.Id">@service.Name</option>
                                    }
                                </select>
                                <span asp-validation-for="Appointment.ServiceId" class="text-danger"></span>
                            </div>


                            <div class="form-group">
                                <label asp-for="Appointment.AppointDate" class="control-label">Appointment Date</label>
                                <input type="date" asp-for="Appointment.AppointDate" class="form-control" id="Appointment_AppointDate" onchange="updateAvailableSlots();" min="" min="@DateTime.Now.ToString("yyyy-MM-dd")" max="@DateTime.Now.AddYears(5).ToString("yyyy-MM-dd")" />
                                <span asp-validation-for="Appointment.AppointDate" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label asp-for="Appointment.StartSlot" class="control-label">Start Slot</label>
                                <select id="appointment-slots-partial" asp-for="Appointment.StartSlot" class="form-control" onchange="updateAvailableDentists()">
                                    @* Populate slots dynamically based on appointment date and service *@
                                    @await Html.PartialAsync("_SlotPartial", new List<Slot>())
                                </select>
                                <span asp-validation-for="Appointment.StartSlot" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label asp-for="Appointment.DentistId" class="control-label">Dentist</label>
                                <select id="dentist-list" asp-for="Appointment.DentistId" class="form-control">
                                    @* Populate dentists dynamically based on selected slot and service *@
                                    @await Html.PartialAsync("_DentistPartial", new List<Dentist>())
                                </select>
                                <span asp-validation-for="Appointment.DentistId" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <button type="submit" class="btn btn-primary">Submit Appointment</button>
                            </div>
                        </form>
                    </div>
                 </div>
                }
                else
                {
                    <div class="alert alert-info">
                        No patient found with the provided details. <a href="@Url.Page("./RegisterPatient")">Create a new patient account</a>.
                    </div>
                }
                </div>
        </div>
    </div>
</body>
<!-- Refund Modal -->
<div id="refundModal" class="modal">
    <div class="modal-content">
        <h4>Refund Amount</h4>
        <p id="refundAmount"></p>
        <input type="hidden" id="appointmentId" />
        <button id="btnRefund">Process Refund</button>
        <button class="btn-close">Close</button>
    </div>
</div>
<script>
    function updateAvailableSlots() {
        var appointmentDate = $('#Appointment_AppointDate').val();
        var serviceDuration = @Model.Service.Duration;

        $.ajax({
            url: '@Url.Page("./StaffRegister", new { handler = "AvailableSlotsPartial" })',
            type: 'GET',
            data: { appointmentDate: appointmentDate, serviceDuration: serviceDuration },
            success: function (data) {
                $('#appointment-slots-partial').html(data);
                updateAvailableDentists();
                console.log(data);
            },
            error: function (xhr, status, error) {
                console.error('Error updating available slots:', error);
            }
        });
        updateAvailableDentists();
    }

    function updateAvailableDentists() {
        var appointmentDate = $('#Appointment_AppointDate').val();
        var serviceDuration = @Model.Service.Duration;
        var startSlot = $('#appointment-slots-partial').val();
        var serviceId = @Model.Service.Id;

        $.ajax({
            url: '@Url.Page("./StaffRegister", new { handler = "AvailableDentistsPartial" })',
            type: 'GET',
            data: {
                appointmentDate: appointmentDate,
                serviceDuration: serviceDuration,
                startSlot: startSlot,
                serviceId: serviceId
            },
            success: function (data) {
                $('#dentist-list').html(data);
                console.log(data);
            },
            error: function (xhr, status, error) {
                console.error('Error retrieving available dentists:', error);
            }
        });
    }

    document.addEventListener('DOMContentLoaded', function () {
        var today = new Date().toISOString().split('T')[0];
        document.getElementById('Appointment_AppointDate').setAttribute('min', today);
    });
    document.getElementById('showCreateAppointmentForm').addEventListener('click', function () {
        document.getElementById('createAppointmentForm').style.display = 'block';
    });
    
</script>
@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}

