@page
@model ClinicPresentationLayer.Pages.Appointment.DetailsModel
@using BusinessObjects
@{
    ViewData["Title"] = "Details";

}
<!-- CKEditor CDN -->
<script src="https://cdn.ckeditor.com/ckeditor5/40.0.0/classic/ckeditor.js"></script>
<h1>Details</h1>

<div>
    <h4>Appointment</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Appointment.StartSlot)
        </dt>
        <dd class="col-sm-10">
            @Model.GetTimeFromSlot(Model.Appointment.StartSlot)
        </dd>
        @* <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Appointment.Status)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Appointment.Status) *@
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Appointment.EndSlot)
        </dt>
        <dd class="col-sm-10">
            @Model.GetTimeFromSlot(Model.Appointment.EndSlot)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Appointment.Room)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Appointment.Room.RoomNumber)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Appointment.Dentist)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Appointment.Dentist.Name)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Appointment.Patient)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Appointment.Patient.Name)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Appointment.Service)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Appointment.Service.Name)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Appointment.AppointDate)
        </dt>
        <dd class="col-sm-10">
            @Model.Appointment.AppointDate.ToString("dd-MM-yyyy")
        </dd>
    </dl>
</div>
@if(@Model.CurrentUser.Role == @BusinessObjects.UserRoles.Dentist){
<h1>Create Report</h1>

<form method="post">
    <div>
        <label asp-for="Report.Name"></label>
        <input asp-for="Report.Name" />
    </div>
    <div>
        <label asp-for="Report.Data"></label>
        <textarea asp-for="Report.Data" id="editor"></textarea>
    </div>

    <button type="submit">Save</button>
</form>
}
@if(@Model.CurrentUser.Role == @BusinessObjects.UserRoles.Patient && @Model.Report.Data != null){
<h4>Report for Appointment ID: @Model.Appointment.Id</h4>
@Html.Raw(@Model.Report.Data) <!-- Replace with your report data property -->
}


<script>
    ClassicEditor
        .create(document.querySelector('#editor'))
        .catch(error => {
            console.error(error);
        });
</script>
<div>
    <a asp-page="./List">Back to List</a>
</div>
