@page
@model ClinicPresentationLayer.Pages.Room.IndexModel

@{
    ViewData["Title"] = "Rooms";
}

<h1>Rooms</h1>

<p>
    <a href="#" id="create-new-room-link">Create New</a>
</p>

<table class="table">
    <thead>
        <tr>
            <th>ID</th>
            <th>Room Number</th>
            <th>Clinic</th>
            <th>Status</th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody>
    @foreach (var item in Model.Rooms)
    {
        <tr>
            <td>@item.Id</td>
            <td>@item.RoomNumber</td>
            <td>@item.Clinic.Name</td>
            <td>
                @(item.Status == (int)BusinessObjects.RoomStatus.Open ? "Open" : "Closed")
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.Id">Edit</a> |
            </td>
        </tr>
    }
    <form id="create-room-form" method="post">
    <tr id="create-room-row" style="display:none;">
        <td></td>
        <td>
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <input asp-for="Room.RoomNumber" class="form-control" />
                <span asp-validation-for="Room.RoomNumber" class="text-danger"></span>
            </div>
        </td>
        <td>
            <div class="form-group">
                <select asp-for="Room.ClinicId" class="form-control" asp-items="ViewBag.ClinicId"></select>
                <span asp-validation-for="Room.ClinicId" class="text-danger"></span>
            </div>
        </td>
        <td>
            <div class="form-group">
            <select asp-for="Room.Status" class="form-control">
                <option value="1">Closed</option>
                <option value="0">Open</option>
            </select>
            </div>
        </td>
        <td>
            <div class="form-group">
            <input type="submit" value="Create" class="btn btn-primary" />
            <a href="#" id="cancel-create-room-link" class="btn btn-secondary">Cancel</a>
            </div>
        </td>
    </tr>
    </form>

    </tbody>
</table>

@section Scripts {
    <script>
        document.getElementById("create-new-room-link").addEventListener("click", function (e) {
            e.preventDefault();
            document.getElementById("create-room-row").style.display = "table-row";
        });

        document.getElementById("cancel-create-room-link").addEventListener("click", function (e) {
            e.preventDefault();
            document.getElementById("create-room-row").style.display = "none";
        });
    </script>
}
